.note {
  color: var(--lightgray);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 0px;
}

th {
  text-align: left;
  font-style: italic;
  color: var(--lightgray);
  width: 17.15em;
}

td {
  padding-top: 1em;
  padding-right: 1em;
  vertical-align: top;
}

input, textarea {
  background: var(--gray);
  color: var(--white);
  width: 20em;
  height: 1.5em;
  min-height: 1.5em;
  padding: 0.75em !important;
  font-size: 12px;
}

textarea {
  resize: vertical;
  width: 35em;
  height: 1.5em;
  max-height: 20em;
  margin: 0;
}

button {
  background: var(--green);
  color: var(--gray);
  padding: 0.75em;
  border-radius: var(--border-radius);
}

button.delete {
  background: var(--red);
  color: var(--black);
}

button.delete, button.secret-save {
  max-height: 2.65em;
}

button.add {
  margin-top: 1rem;
  margin-right: 1rem;
  background: var(--blue);
  color: var(--black);
}

button:disabled {
  background: var(--dark-green);
  color: var(--black);
}

.buttons {
  display: flex;
  gap: 1em;
}

input:disabled {
  font-style: italic;
  cursor: not-allowed;
}

.success-msg {
  color: var(--medium-gray);
  font-style: italic;
}

tr .success-msg {
  line-height: 2em;
}
